<div class="formulario">
    <h1> Editar usuario</h1>  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
        <!--Campo Nombre -->
        <div class="form">
            <mat-form-field color="accent" class="full-width">
                <mat-label>Nombre:</mat-label>                
                <input matInput #input class="form-control" placeholder="Nombre" 
                       [(ngModel)]="data.nombre" name="nombre" required>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <!--Campo Correo -->
        <div class="form">
            <mat-form-field color="accent" class="full-width">
                <mat-label>Correo:</mat-label>                                
                <input matInput #input class="form-control" placeholder="Correo" 
                       [(ngModel)]="data.email" name="email" required>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>   
        
        <!-- Botones -->
        <div mat-dialog-actions>
            <button mat-button color="primary" type="submit" [disabled]="!formControl.valid"
                               [mat-dialog-close]="1" (click)="submit()">Guardar</button>
            <button mat-button color="primary" (click)="cancelar()" tabindex="-1">Cancelar</button>
        </div>
    </form>
</div>